<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/skin-logo.png" />
	
	<title> Skin Addict</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<%- include("./partials/header") %>
	
	<!-- Banner -->
	<div class="banner">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i = 0; i < 4; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product">
							<figure class="product-box_image">
								<img src="<%= productos[i].fotoProducto %>" alt="crema">
							</figure>
							<article class="product-box_data">
								<h2><%= productos[i].nombreProducto %></h2>
								<p><%= productos[i].descripcion %></p>
								<p>Fecha de carga: <%= productos[i].createdAt %></p>
								<p>Cargado por <%= productos[i].productosUsuarios.usuario %></p>
							</article>
						</a>
					</section>
				</div>
				<% } %>
			

	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i = 4; i < 8; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product">
							<figure class="product-box_image">
								<img src="<%= productos[i].cover %>" alt="skincare">
							</figure>
							<article class="product-box_data">
								<h2><%= productos[i].nombreProducto %></h2>
								<p><%= productos[i].descripcion %></p>
								<p>Fecha de carga: <%= productos[i].createdAt %></p>
								<a href="/perfil"><p>Cargado por <%= productos[i].productosUsuarios.usuario %></p></a>
							</article>
						</a>
					</section>
				</div>
			<% } %>
	<!-- /Más comentados -->


	<%- include("./partials/footer") %>
</body>	
</html>