<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/skin-logo.png" />

	<title> Skin Addict</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<%- include("./partials/headerLogueado") %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/users/editarperfil" method="post">
					<input class="form-input" type="text" name="id" value="<%= data.id %>">
					<input class="form-input" type="email" name="mail" value="<%= data.email %>" placeholder="nuevo mail">
					<input class="form-input" type="text" name="user" value="<%= data.usuario %>" placeholder="nuevo usuario">
					<input class="form-input" type="password" name="pass" placeholder="nueva contraseña">
					<input class="form-input" type="date" name="fechanacimiento" value="<%= data.fecha %>" placeholder="editar fecha de nacimiento">
					<input class="form-input" type="number" name="documento" value="<%= data.dni %>" placeholder="editar nro de documento">
					<input class="form-input" type="text" name="foto" value="<%= data.foto %>" placeholder="editar foto de perfil">
					<button type="submit"> Editar</button>
				</form>
			</h2>

			<% if (locals.errors)  { %>
				<p style="color: rgb(243, 21, 21);"> <%= locals.errors.message %></p>
			<% } %>

	<%- include("./partials/footer") %>
</body>

</html>